.header
    z-index: 100
    position: fixed
    height: 94px
    top: 0
    left: 0
    width: 100%
    background: #ffffff
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1.3rem 0
    &__query
        padding-left: 6%
        a
            color: $green
            font-size: 2.4rem
            text-decoration: none
            &:hover
                text-decoration: underline
    &__phone-menu
        display: flex
        align-items: center
    &__phone-box
        margin-right: 6.5rem
        text-align: right
        a
            +robR
            font-size: 2.4rem
            color: #000000
            text-decoration: none
            strong
                +robB
        &_mob
            display: none
    &__city-box
        margin-bottom: 4px
    &__city
        display: inline-block
        margin-left: 5px
        font-size: 1.8rem
        +robR
        color: #7D7D7E
        letter-spacing: 0.05em
        text-transform: uppercase
        &:hover
            cursor: pointer
        &_active
            +robB
            color: #000000

// кнопка меню
.btn-menu
    padding: 0
    background: transparent
    border: none
.line
    display: block
    height: 3px
    width: 32px
    background: $green
    &-2
        margin: 7px 0

@media (max-width: 720px)
    .header
        &__query
            display: none

@media (max-width: 600px)
    .header__logo-box
        width: 120px
        img
            width: 100%
    .header__phone-box
        margin-right: 1.2rem
    .header
        height: 55px
    
