.review
    &__wrap
        position: relative
        margin: 6rem 0
    &-btn
        float: right
        padding: 0.9rem 3rem
        +robL
        font-size: 1.4rem
        background: #E9E9E9
        border-radius: 5px
        border: none
    &-box
        display: flex
    &__man
        &-box
            min-width: 270px
            margin-right: 10rem
    &__avatar
        width: 120px
        height: 120px
        margin-bottom: 2.2rem
        border-radius: 50%
        img
            width: 100%
    &__name
        +robL
        font-size: 3.6rem
        margin-bottom: 1.7rem
    &__company, &__city
        font-size: 1.8rem
    &__company
        margin-bottom: 0.8rem
    &__city
        margin-bottom: 3rem
    &__project
        margin-bottom: 1.8rem
        +robL
        font-size: 2.4rem
    &__item
        +robL
        font-size: 1.4rem
        margin-bottom: 1rem
    &__text
        margin-bottom: 2rem
        &-box
            position: relative
            max-width: 653px
            &::before, &::after
                position: absolute
                +robL
                font-size: 9.6rem
                color: #434343
                line-height: 5rem
            &::before
                content: '«'
                top: -10px
                left: -70px
            &::after
                content: '»'
                bottom: 25px
                right: -60px
                
@media (max-width: 1122px)
    .review
        &__man-box
            margin-right: 3rem
        &__text
            margin-bottom: 2rem
            &-box
                &::before
                    left: -10px
                &::after
                    right: -10px
                        
@media (max-width: 992px)
    .review
        &__man-box
            margin-right: 1rem
        &__text
            margin-bottom: 2rem
            &-box
                &::before
                    display: none
                &::after
                    display: none


@media (max-width: 900px)
    .review
        &-box
            flex-wrap: wrap
        &__man-box
            margin-right: 0
            min-width: auto
            width: 100%
            text-align: center
        &__avatar
            margin: auto
        &__text-box
            max-width: 100%

@media (max-width: 900px)
    .review__wrap
        margin: 3rem 0


    