.slider
    &__wrap
        margin-bottom: 9rem
        &-container
            position: relative
    &__box
        display: flex
        min-height: 80px
        align-items: center
        justify-content: center
.slider-btn
    position: absolute
    top: 50%
    width: 64px
    height: 64px
    border-radius: 50%
    border: none
    background: rgba(196, 196, 196, 0.5)
.slider-next
    left: -90px
    transform: translateY(-50%)
.slider-prev
    right: -90px
    transform: translateY(-50%) rotate(180deg)
.slider-btn
    