.slider
    &__wrap

        &-container
            position: relative
    &__box
        border: 1px solid red
        display: flex
        align-items: center
        justify-content: center
        a img
.slider-btn
    width: 64px
    height: 64px
    border-radius: 50%
    border: none
    background: rgba(196, 196, 196, 0.5)
.slider-next
    transform: rotate(180deg)
.slider-btn
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)