.slider
    &__wrap
        margin-bottom: 9rem
        &-container
            position: relative
    &__box
        display: flex
        min-height: 80px
        align-items: center
        justify-content: center
        img
            filter: grayscale(100%)
            -webkit-filter: grayscale(100%)
            // -webkit-backdrop-filter: grayscale(100%)
            transition: 0.5s
            &:hover
                filter: none
.slider-btn
    position: absolute
    top: 50%
    width: 64px
    height: 64px
    border-radius: 50%
    border: none
    background: rgba(196, 196, 196, 0.5)
.slider-next
    left: -90px
    transform: translateY(-50%)
.slider-prev
    right: -90px
    transform: translateY(-50%) rotate(180deg)


@media (max-width: 1266px)
    .slider-btn
        top: 140%
        width: 34px
        height: 34px
        img
            width: 40%
    .slider-next
        left: 45%
    .slider-prev
        right: 45%
        transform: translateY(-50%) rotate(180deg)
