.works
    &__desc-box
        padding-left: 5.5rem
    &__info-box
        max-width: 850px
    &__info-menu
        display: flex
        justify-content: space-between
        margin-bottom: 5.5rem
    &__counter-wrap
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        padding: 1.3rem 2.3rem
        background: #E5E5E5
        border-radius: 5px
    &__desc-text
        margin-bottom: 5rem
    &__counter
        &-nub
            +robB
            color: $green
            font-size: 3.6rem
            margin-bottom: 1rem   
            small
                font-size: 1.4rem
        &-text
            max-width: 155px
            +robL
            font-size: 1.4rem
            line-height: 1.6rem
    &__menu
        &-list
            max-width: 250px
        &-item
            padding: 0.7rem 0.5rem
            text-align: right
            transition: 0.3s
            &:hover
                background: rgba(233, 233, 233, 0.5)
        &-form
            display: none
            margin: 2rem auto 0
        &-link
            +robL
            font-size: 1.8rem
            text-transform: uppercase
            text-decoration: none
            color: #000000
            &_active
                color: $green
                +robB

    &__example
        &-wrap
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
        &-box
            width: 24%
            text-align: center

// стилизация выпадающего списка
.select2-container--default .select2-selection--single
    min-width: 150px
    background: $green
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
    border-color: transparent transparent #ffffff transparent
.select2-container--default .select2-selection--single .select2-selection__arrow b
    border-color: #ffffff transparent transparent transparent
.select2-container--default .select2-selection--single .select2-selection__rendered
    color: #ffffff

@media (max-width: 910px)
    .works
        &__example
            &-box
                width: 33.33%
        &__desc-box
            padding-left: 0
        &__menu-box
            margin: auto
        &__info-menu
            flex-wrap: wrap
        &__menu-list
            display: none
        &__menu-form
            display: block

@media (max-width: 700px)
    .works
        &__example
            &-box
                width: 50%
        &__counter
            &-box
                width: 50%
                margin-bottom: 2rem

@media (max-width: 450px)
    .works
        &__example
            &-box
                width: 50%
                img
                    width: 60%
