.works
    &__desc-box
        padding-left: 5.5rem
    &__info-box
        max-width: 850px
    &__info-menu
        display: flex
        justify-content: space-between
        margin-bottom: 5.5rem
    &__counter-wrap
        display: flex
        align-items: center
        justify-content: space-between
        padding: 1.3rem 2.3rem
        background: #E5E5E5
        border-radius: 5px
    &__desc-text
        margin-bottom: 5rem
    &__counter
        &-nub
            +robB
            color: $green
            font-size: 3.6rem
            margin-bottom: 1rem   
            small
                font-size: 1.4rem
        &-text
            max-width: 155px
            +robL
            font-size: 1.4rem
            line-height: 1.6rem
    &__menu
        &-list
            max-width: 250px
        &-item
            padding: 0.7rem 0.5rem
            text-align: right
            transition: 0.3s
            &:hover
                background: rgba(233, 233, 233, 0.5)
        &-link
            +robL
            font-size: 1.8rem
            text-transform: uppercase
            text-decoration: none
            color: #000000
            &_active
                color: $green
                +robB

    &__example
        &-wrap
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
        &-box
            width: 24%
            text-align: center

@media (max-width: 910px)
    .works
        &__example
            &-box
                width: 33.33%

@media (max-width: 700px)
    .works
        &__example
            &-box
                width: 50%

@media (max-width: 450px)
    .works
        &__example
            &-box
                width: 90%
